[tools]
{{ if not .codespaces -}}
go = "latest"
node = "latest"
ruby = "latest"
"npm:@mariozechner/pi-coding-agent" = "latest"
"npm:context-mode" = "latest"
{{ if .private -}}
"npm:@anthropic-ai/claude-code" = "latest"
{{ end -}}
{{ end -}}

[settings]
experimental = true
python.uv_venv_auto = true
